@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--ff-secondary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
}

.underline{
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4{
    font-family: var(--ff-primary);
    margin-bottom: 1rem;
    text-transform: capitalize;
}
 
p{
    margin-bottom: 0.5rem;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

.btn{
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: var(--radius);
    transition: var(--transition);
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
    padding: 0.375rem 0.75rem;
    font-weight: 700;
    transition: var(--transition);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.section{
    padding: 5rem 0;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.section-title{
    margin-bottom: 4rem;
    text-align: center;
    text-transform: capitalize;
}

.nav{
    padding: 1rem; 
    height: 5rem; 
}

.navbar-fixed{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: var(--clr-white);
    z-index: 10;
}
.nav-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.nav-btn{
    background: transparent;
    border: transparent;
    font-size: 2rem;
    justify-self: flex-end;
    color: var(--clr-primary-5);
    cursor: pointer;
}
.nav-links{
    display: none;
}

.nav-links a{
    color:var(--clr-grey-1);
}

.nav-logo a{
    text-transform: lowercase;
    color:var(--clr-grey-1);
}

@media screen and (min-width:992px) {
    .nav{
        background:var(--clr-white);
    }
    .nav-btn{
        display: none;
    }
    .nav-links{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        justify-self: end;
        column-gap: 2rem;
    }
    .nav-header{
        grid-template-columns: auto 1fr;
    }
    .nav-center{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
    .nav-links a{
       letter-spacing: var(--spacing);
       text-transform: capitalize;
       font-weight: bold;
       transition: var(--transition);

    }
    .nav-links a:hover{
        color: var(--clr-primary-5);
    }

}

.sidebar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--clr-grey-10);
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
    transition: var(--transition);
    transform: translateX(-100%);
    z-index: 11;
}

.show-sidebar{
    transform: translateX(0);
}

.sidebar-links{
    display: grid;
    grid-template-rows: repeat(4 1fr);
    justify-items: center;
    align-items: center;
    
    
}

.sidebar-links a{
    text-transform: capitalize;
    transition: var(--transition);
    font-weight: bold;
    color: var(--clr-grey-5);
    letter-spacing: var(--spacing);
    font-size: 2rem;
}

.sidebar-links a:hover{
    color: var(--clr-primary-5);
}

.social-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0 40%;
    
}

.social-icon{
    font-size: 1.5rem;
    transition: var(--transition);
    color: var(--clr-grey-1);
}
.social-icon:hover{
    color:var(--clr-primary-5);
}
.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background:transparent;
    border: transparent;
    font-size: 2rem;
    color: #bb2525;
    transition: var(--transition);
}

.close-btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media screen and (min-width: 992px){
    .sidebar{
        display: none;
    }
}


.hero .underline{
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.hero{
    background: var(--clr-primary-10);
    
    
}

.hero-img{
    display: none;
}
.hero-center{
    display: grid;
    place-items: center; 
    min-height: calc(100vh - 5rem); 
    grid-template-rows: 1fr auto;
}

.hero-info h4{
    color: var(--clr-grey-5);
}

.hero-icons{
    justify-items: start;
    padding: 0;
    padding-right: 80%;
    justify-content: start;
}

@media screen and (min-width: 992px){
    .hero-center{
        grid-template-columns: 1fr 1fr;
    }

    .hero-img{
        display: block;
        position: relative;
        
    }

    .hero-img img{
        max-width: 25rem;
        max-height: 30rem;
        object-fit: cover;
        border-radius: var(--radius);
        position: relative;
        z-index: 1;
        
    }

    .hero-img::before, .about-img::before{
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -1rem;
        left: -1rem;
        z-index: 0;
        border: 0.25rem solid var(--clr-primary-5);
        
    }
    .hero-img::after{
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 0;
        border: 0.25rem solid black;
    
        
    }
}

.about-photo{
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
    z-index: 1;
}

.about-title{
    text-align: left;
    margin-bottom: 2rem;
}

.about-title .underline
{
    margin-left: 0;
}

.about-center{
    display: grid;
    gap: 3rem 2rem;
}

.about-img{
    justify-self: center;
}

@media screen and (min-width: 992px)
{
    .about-center{
        grid-template-columns: 1fr 1fr;
    }
    .about-img{
        position: relative;
    }

    .about-info{
        align-self: center;
    }
}

.services{
    background: var(--clr-primary-10);
}
.service{
    background: var(--clr-white);
    padding: 3rem 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
    transition: var(--transition);
    border-radius: var(--radius);
}

.service-icon{
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.service:hover{
    background: var(--clr-primary-5);
}

@media screen and (min-width: 676px)
{
    .services-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 676px)
{
    .services-center{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}

.projects-text{
    width: 85vw;
    margin: 0 auto;
    max-width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
}

.project{
    position: relative;
    background:var(--clr-primary-5);
    border-radius: var(--radius);
    margin-bottom: 2rem;

}

.project-info{
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    transition: var(--transition);
    opacity: 0;
}

.project-info p{
    text-transform: capitalize;
}

.project:hover .project-info{
    opacity: 1;
}

.project-img{
    transition: var(--transition);
    border-radius: var(--radius);
    height: 15rem;
    object-fit: cover;
}
.project:hover .project-img{
    opacity: 0.5;
}

@media screen and (min-width: 676px) {
    .projects-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .projects-center{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}


.connect{
    min-height: 40vh;
    position: relative;
    padding: 10rem 0 5rem 0;
    margin: 5rem 0;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.connect::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    opacity: 0.5;
}

.video-banner{
    position:relative;
    z-index: 5;
    padding: 3rem 5rem 12rem 5rem;
    text-align: center;
    background: var(--clr-primary-10);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.connect{
    display: grid;
    place-items: center;
}

.video-banner .section-title{
    margin-bottom: 2rem;
}

.video-text{
    max-width: 30rem;
}

.footer{
    padding: 2rem;
    text-align: center;
    color: var(--clr-grey-5);
    background: black;
}

.single-page{
    background: var(--clr-primary-10);
    min-height: calc(100vh - 5rem - 5rem);
}

.page-info{
    max-width: 700px;
}

.page-info a{
    text-transform: uppercase;
    color: var(--clr-primary-5);
    transition: var(--transition);

}

.page-info a:hover{
    color: var(--clr-primary-1);
}

.projects-hero{
    height: 40vh;
    background: var(--clr-primary-10);
    display: grid;
    place-items: center;
}

.single-project{
    background: var(--clr-grey-10);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    border-radius: var(--radius);
}


.project-container{
    position: relative;
    margin-bottom: 1rem;
    
}
.project-container img{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.project-icon{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 1.75rem;
    background:var(--clr-primary-5);
    color: var(--clr-primary-1);
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    border: 0.375rem solid var(--clr-grey-10);
    border-radius: 50%;

}

.project-details{
    padding: 2rem 1.5rem;
}

.project-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--clr-primary-5);
}

.project-footer a{
    text-transform: capitalize;
    transition: var(--transition);
    color: var(--clr-primary-5);
    justify-self: end;
}
.project-footer a:hover{
    
    color: var(--clr-primary-1);
    
}
@media screen and (min-width: 768px){
    .projects-page-center{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}